<div class="container-fluid global-fluid-container">
    <h3 class="fw-bold">Configurar Firmas</h3>
    <div class="container-fluid container-firma">
        <h5>Lista de Certificados por Empresa</h5>
        <button type="button" class="btn button-firma col-lg-3" data-bs-toggle="modal" data-bs-target="#addModal"(click)="openModal()">Agregar nuevo</button>
        
        <!-- Tabla sin Paginar -->
        <div class="table-responsive">
            <table class="table table-hover firma-tab">                
                <thead *ngIf="firmas != null && firmas.length > 0">
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Razon Social / Persona</th>
                        <th>Tipo de Firma</th>       
                        <th>Representante Legal</th>     
                        <th>Empresa Acredit.</th>            
                        <th>Fecha Emision</th>
                        <th>Fecha Vencimiento</th>
                        <th>Rubrica Escaneada</th>
                        <th>Descargas</th>
                        <th>Opciones</th>                        
                    </tr>
                </thead>
                <tbody *ngIf="firmas != null && firmas.length > 0">
                    <tr *ngFor="let firma of firmas" class="text-center">
                        <td>{{firma.idFirma}}</td>
                        <td>{{firma.razonSocial}}</td>
                        <td *ngIf="firma.tipoFirma === stringOne">Firma Digital</td>
                        <td *ngIf="firma.tipoFirma === stringTwo">Rubrica Escaneada</td>
                        <td *ngIf="firma.tipoFirma === stringThree">Firma Electronica</td>
                        <td>{{firma.representanteLegal}}</td>
                        <td>{{firma.empresaAcreditadora}}</td>
                        <td>{{firma.fechaEmision | date : "dd/MM/yy"}}</td>
                        <td>{{firma.fechaVencimiento | date : "dd/MM/yy"}}</td>
                        <td *ngIf="firma.rutaRubrica?.length != 0">Correcto</td>
                        <td> 
                            <div class="btn-group dropup" role="group">
                                <button type="button" class="btn-light button-opciones" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical color-icon"></i>
                                </button>
                                <ul class="dropdown-menu opciones" >
                                    <li><a class="dropdown-item" (click)="descargarFirma(firma.idFirma!)"><i class="bi bi-arrow-down-circle-fill color-icon"></i></a></li>
                                    
                                    <li><a class="dropdown-item" (click)="descargarCertificado(firma.idFirma!)" ><i class="bi bi-file-earmark-arrow-down-fill color-icon"></i></a></li>                                   
                                </ul>
                            </div> 
                        </td>
                        <td> 
                            <div class="btn-group dropup" role="group">
                                <button type="button" class="btn-light button-opciones" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical color-icon"></i>
                                </button>
                                <ul class="dropdown-menu opciones" >
                                    <li><a class="dropdown-item" (click)="openModal(firma.idFirma!)" data-bs-toggle="modal" data-bs-target="#addModal"><i class="bi bi-pencil-square color-icon"></i></a></li>
                                    <li><a class="dropdown-item" (click)="obtenerFirma(firma.idFirma!)" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-eye-fill color-icon"></i></a></li>
                                    <li><a class="dropdown-item" (click)="obtenerFirma(firma.idFirma!)"  data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash-fill color-icon"></i></a></li>
                                </ul>
                            </div> 
                        </td>                        
                    </tr>            
                </tbody>
    
                <thead *ngIf="firmas == null || firmas.length == 0">
                    <tr>
                        <th>No hay registros de Firmas.</th>              
                    </tr>
                </thead>
    
            </table>
        <!-- <p *ngIf="!firmas || firmas.length == 0 " > No hay registros de Firmas.</p> -->
        </div>

    </div>  
</div>

<app-modal-detalle-firma [firmadata]="firmadata"></app-modal-detalle-firma> <!-- [rubricaimg]="rubricaimg" [imageSrc]="imageSrc" -->

<app-modal-eliminar-firma [firmadata]="firmadata"></app-modal-eliminar-firma>

<!-- Modal Agregar -->
<div class="modal fade" tabindex="-1" id="addModal" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-fullscreen-sm-down modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mx-auto">{{modalTitle}} Firma</h5>
        </div>
        <div class="modal-body">
            
             <form [formGroup]="agregarFirma" (ngSubmit)="agregar()" enctype="multipart/form-data">
                <div class="row g-2">
                    <div class="mb-3 col-md">
                        <!-- <label for="descripcion" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" autocomplete="off" formControlName="descripcion">
                        <span *ngIf="agregarFirma.get('descripcion')?.invalid && agregarFirma.get('descripcion')?.touched" class="text-danger">
                            La <strong>descripcion </strong>es requerido.
                        </span> -->
                        <label for="tipoFirma" class="form-label">Tipo de Firma</label>
                        <select class="form-select" id="tipoFirma" name="tipoFirma" formControlName="tipoFirma" >
                            <option></option>
                            <option value="1">Firma Digital</option>
                            <option value="2">Rubrica Escaneada</option>
                            <option value="3">Firma Electrónica</option>                           
                        </select>
                        <span *ngIf="agregarFirma.get('tipoFirma')?.invalid && agregarFirma.get('tipoFirma')?.touched" class="text-danger">
                            El <strong>Tipo de Firma </strong>es requerido.
                        </span>
                    </div> 
                    <div class="mb-3 col-md" >
                        <label for="certificadoDigital" class="form-label">Subir Certificado</label>
                        <input type="file" class="form-control" id="certificadoDigital" name="certificadoDigital" accept=".pdf" (change)="onFileChange($event)">
                        <span *ngIf="agregarFirma.get('certificadoDigital')?.invalid && agregarFirma.get('certificadoDigital')?.touched" class="text-danger">
                            El <strong> certificado </strong>es requerido.
                        </span>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="mb-3 col-md">
                        <label for="razonSocial" class="form-label">Razon Social / Persona</label>
                        <input type="text" class="form-control" id="razonSocial" name="razonSocial" autocomplete="off" formControlName="razonSocial">
                        <span *ngIf="agregarFirma.get('razonSocial')?.invalid && agregarFirma.get('razonSocial')?.touched" class="text-danger">
                            La <strong>Razon Social / Persona </strong>es requerido.
                        </span>                       
                    </div>
                    <div class="mb-3 col-md">
                    </div>
                </div>
                
                <div class="row g-2">
                    <div class="mb-3 col-md">
                        <label for="representanteLegal" class="form-label">Representante Legal</label>
                        <input type="text" class="form-control" id="representanteLegal" name="representanteLegal" autocomplete="off" formControlName="representanteLegal">
                        <span *ngIf="agregarFirma.get('representanteLegal')?.invalid && agregarFirma.get('representanteLegal')?.touched" class="text-danger">
                            El <strong>Representante Legal </strong>es requerido.
                        </span>                       
                    </div>
                    <div class="mb-3 col-md">
                    </div>
                </div>
                
                <div class="row g-2">
                    <div class="mb-3 col-md">
                        <label for="empresaAcreditadora" class="form-label">Empresa Acreditadora</label>
                        <input type="text" class="form-control" id="empresaAcreditadora" name="empresaAcreditadora" autocomplete="off" formControlName="empresaAcreditadora">
                        <span *ngIf="agregarFirma.get('empresaAcreditadora')?.invalid && agregarFirma.get('empresaAcreditadora')?.touched" class="text-danger">
                            La <strong>Empresa Acreditadora </strong>es requerido.
                        </span>                       
                    </div>
                    <div class="mb-3 col-md">
                    </div>
                </div>

                <div class="row g-2">
                    <div class="mb-3 col-md">
                        <label for="fechaEmision" class="form-label">Fecha Emision</label>
                        <input type="date" class="form-control" id="fechaEmision" name="fechaEmision" formControlName="fechaEmision">
                        <span *ngIf="agregarFirma.get('fechaEmision')?.invalid && agregarFirma.get('fechaEmision')?.touched" class="text-danger">
                            La <strong>Fecha Emision </strong>es requerido.
                        </span>                       
                    </div>
                    <div class="mb-3 col-md">
                    </div>
                </div>

                <div class="row g-2">
                    <div class="mb-3 col-md">
                        <label for="fechaVencimiento" class="form-label">Fecha Vencimiento</label>
                        <input type="date" class="form-control" id="fechaVencimiento" name="fechaVencimiento" formControlName="fechaVencimiento">
                        <span *ngIf="agregarFirma.get('fechaVencimiento')?.invalid && agregarFirma.get('fechaVencimiento')?.touched" class="text-danger">
                            La <strong>Fecha Vencimiento </strong>es requerido.
                        </span>                       
                    </div>
                    <div class="mb-3 col-md">
                    </div>
                </div>

                <div class="row g-2">
                    <div class="mb-3 col-md">
                        <label for="rutaRubrica" class="form-label">Rubrica Escaneada</label>
                        <input type="file" class="form-control" id="rutaRubrica" name="rutaRubrica" accept=".png, .jpg" (change)="onFileChange1($event)">
                        <span *ngIf="agregarFirma.get('rutaRubrica')?.invalid && agregarFirma.get('rutaRubrica')?.touched" class="text-danger">
                            La <strong> Rubrica Escaneada </strong>es requerido.
                        </span>                      
                    </div>
                    <div class="mb-3 col-md">
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" [disabled]="agregarFirma.invalid" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                </div>
                
            </form>        
        </div>
       
      </div>
    </div>
</div>
