.container-firma{
    background-color: white;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button-firma{
    background-color: #218f8b;
    color: white;
    margin-left: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-firma:hover{
    color: #218f8b;
    border-color: #218f8b;
    background-color: white;
}

.firma-tab{
    margin-top: 70px;
}

.button-opciones{
    border-radius: 6px;
    padding: 2px 8px;
    border-color: #218f8b;
}

.color-icon{
    color: #218f8b;
}

.opciones{
    min-width: min-content;
}