.container-firma{
    background-color: white;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button-firma{
    background-color: #218f8b;
    color: white;
    margin-left: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-firma:hover{
    color: #218f8b;
    border-color: #218f8b;
    background-color: white;
}